.main_content {
  @apply py-8 flex-grow sm:px-10 md:px-10 lg:px-10 xl:px-60 text-xl text-justify;
}
.freepik {
  @apply absolute bottom-3 right-3 text-white;
}

.committee_grid {
  @apply grid grid-cols-4 text-center border border-[#01002F] border-opacity-50 my-8;
}
.committee_cell {
  @apply flex flex-col border border-[#01002F] border-opacity-50 py-10 px-8 justify-center;
}
.special_cell {
  @apply committee_cell text-white bg-[#01002F];
}
.links {
  @apply underline font-semibold text-xl;
}
